{% extends "main.html" %}

{% block content %}

{% if page == 'login' %}
  
<div class="flex justify-center items-center h-screen">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-md w-full" method="post" action="">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username:
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Enter User" name="username">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password:
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="************" name="password">
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Login
            </button>
        </div>
        <p class="text-center mt-4">
            Haven't signed up yet? <a class="text-blue-500 hover:underline" href="{% url 'register' %}">Sign up</a>
        </p>
    </form>
</div>

{% else %}

<div class="flex justify-center items-center h-screen">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-md w-full" method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Register
            </button>
        </div>
        <p class="text-center mt-4">
            Already signed up? <a class="text-blue-500 hover:underline" href="{% url 'login' %}">Log in</a>
        </p>
    </form>
</div>
{% endif %}

{% endblock content %}
